.Main {
  width: 100%;
  height: auto;
  background: linear-gradient(#313131, #12214a, #023014, #260303, #143441);
  overflow: hidden;
  user-select: none;
  transition: all 0.5s;
  .container {
    width: 100%;
    height: 100vh;
    padding: 20px;
    box-shadow: 0 0 20px rgb(70, 12, 12);
    perspective: 1000px;
    .card {
      position: relative;
      background: linear-gradient(rgb(32, 39, 51), rgb(48, 38, 39));
      width: 100%;
      box-shadow: 0 0 20px rgb(28, 18, 28);
      transform-style: preserve-3d;
      border-radius: 20px;
      transition: all 0.5s;

      &.visible {
        transform: rotateY(180deg);
      }
      .front {
        position: absolute;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85vh;
        width: 100%;
        button {
          padding: 20px;
          color: #ff0000;
          border: 2px solid #ff0000;
          border-radius: 100px;
          box-shadow: 10px 20px 30px #220000;
          font-size: 25px;
          width: 50%;
          transition: all 0.3s;
          background: linear-gradient(30deg, #0a3332, #1c2323);
          &:hover {
            background: linear-gradient(90deg, #092c2c, #110d33, #371f1e);
          }
        }
      }
      .inside {
        width: 100%;
        height: 85vh;
        border-radius: 20px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        backface-visibility: hidden;
        background: transparent;
        transform: rotateY(180deg);
        overflow: hidden;
        img {
          position: absolute;
          width: 100%;
          top: 0;
          z-index: 1;
        }
        .message {
          width: 80%;
          z-index: 3;
          font-size: 18px;
          padding: 30px;
          border-radius: 20px;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          background: linear-gradient(#dcebeb50, #f7e2e160, #92dad930);
          box-shadow: 0 0 30px #00000043;
          span {
            color: transparent;
            font-family: "Courier New", Courier, monospace;
            background: linear-gradient(90deg, #ffbbbbc1, #00000099);
            background-clip: text;
            font-size: 28px;
            font-weight: 700;
            text-shadow: 0 -3px 1px white;
          }
        }
      }
      &.active {
        transform: rotateY(0deg);
      }
    }
  }
}

.Profile {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#000000, #222e2e, #303030, #332424, #000000);
  min-height: 95vh;
  padding: 30px;
  align-items: center;
  text-align: center;
  transition: all 0.5s;
  h1 {
    padding: 10px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: #4a0000;
    color: #000000;
    font-size: 60px;
  }
  h2 {
    padding: 10px;
    width: 100%;
    border-radius: 0 0 20px 20px;
    margin-bottom: 20px;
    background-color: #4a0000;
    color: #000000;
  }
  .links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      padding: 20px;
      background-color: #4a0000;
      color: #000000;
      font-size: 30px;
      text-decoration: underline;
      &:first-child {
        width: 37%;
      }
      &:last-child {
        width: 57%;
      }
    }
  }
  .boosty {
    position: absolute;
    bottom: 10vh;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #4a0000;
    box-shadow: 0 0px 20px #000000;
    border-radius: 30px;
    transition: all 0.5s;
    p {
      color: #000000;
    }
    &:hover {
      box-shadow: 0 0 50px #000000;
    }
  }
}
